<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211327244913-lve21oiqe5iu6j5n8pof1278q9ca4bl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211327244913-lve21oiqe5iu6j5n8pof1278q9ca4bl6</string>
	<key>API_KEY</key>
	<string>AIzaSyCjPYPf5OcUMhFliUdP71Mkjakb6G1WUeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>211327244913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-project-39c98</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-project-39c98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211327244913:ios:d77da8b2050787070d19d0</string>
</dict>
</plist>